.caja-semaforo 
{
    padding: 10px;
    border: 2px solid black;
    border-radius: 40px;
    width: 80px;
    margin: 0 auto;
    background-color: rgba(230, 207, 4, 0.8)
}
.luz-semaforo
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: grey;
    border: 2px solid black; 
    padding:10px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.boton
{
    text-align: center;
    margin-top: 30px;
    
}
button
{
    border-radius: 15px;
    background-color: coral;
    padding: 10px;
}
